<div class='form-group'>
  <div class='col-md-5 col-md-offset-3'>
    {{input type='text' value=nameValue id=nameId class='form-control' placeholder='Name'}}
  </div>
  <div class='col-md-4'>
    {{input type='number' value=weightValue id=weightId class='form-control' placeholder='Weight in g'}}
  </div>
</div>