<div class='col-md-9 col-md-offset-3'>
  <div class="form-group">
    <strong>Add base units for this product:</strong>
    {{#if allowAddUnit}}
      <div class='pull-right'>
        <button class="btn btn-default" {{action 'displayNewUnit'}}>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          <span class="sr-only">Add</span>
        </button>
      </div>
    {{/if}}
  </div>
</div>
<div class="form-group">
  {{product-add-unit nameValue=newUnitName1 nameId='newUnitName1'
                     weightValue=newUnitWeight1 weightId='newUnitWeight1'}}
  {{#if addSecondUnit}}
    {{product-add-unit nameValue=newUnitName2 nameId='newUnitName2'
                       weightValue=newUnitWeight2 weightId='newUnitWeight2'}}
  {{/if}}
  {{#if addThirdUnit}}
    {{product-add-unit nameValue=newUnitName3 nameId='newUnitName3'
                       weightValue=newUnitWeight3 weightId='newUnitWeight3'}}
  {{/if}}
</div>